*,
*::after,
*::before {
  box-sizing: border-box;
}

/***************
 * Following resets borrowed from https://piccalil.li/blog/a-modern-css-reset/
***************/
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  background-color: #fffdff;
}

body {
  position: relative;
}
body::-webkit-scrollbar {
  width: 0.2rem;
}
body::-webkit-scrollbar-track {
  background: #fafafa;
}
body::-webkit-scrollbar-thumb {
  background: #8e55f0;
  border-radius: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.28rem;
  color: #5a5d62;
}

.screen {
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
}

.inputBar {
  position: sticky;
  bottom: 0px;
  margin: 0 0.5rem;
  padding: 1rem 0;
  background-color: white;
  border-top: solid 1px #eeeef0;
}
.inputBar__form {
  display: flex;
  min-height: 2.5rem;
}
.inputBar__input {
  flex: 1;
  width: 80%;
  border: solid 1px #a0a3a8;
  border-radius: 100px;
  padding-left: 0.625rem;
}
.inputBar__input:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: dashed 3px #8e55f0;
}
.inputBar__btn {
  text-transform: uppercase;
  text-decoration: none;
  background: #5e1eca;
  color: white;
  padding: 5px;
  display: inline-block;
  border: none;
  border-radius: 100px;
  max-width: 86px;
  margin-left: 0.5rem;
  width: 20%;
}
.inputBar__btn:hover {
  background: #8e55f0;
}
.inputBar__btn:focus {
  outline: dashed 3px #8e55f0;
  outline-width: 2;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.infoBar {
  position: sticky;
  top: 0;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeef0;
  padding-bottom: 0.72rem;
  background-color: #fafafa;
}
.infoBar__userMenuToggle {
  font-size: 1.25em;
  color: #5e1eca;
}
.infoBar__title {
  font-size: 1.25em;
  color: #474c50;
}

.message {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1.125rem;
}
.message__onlineIcon {
  padding-left: 4px;
  padding-bottom: 1px;
  display: inline;
}
.message__userImage {
  max-height: 50px;
  margin-right: 0.6rem;
}
.message__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #a0a3a8;
}
.message__text {
  font-size: 1rem;
}
.message__userName {
  font-size: 0.95em;
  padding-right: 0.4rem;
  font-weight: 500;
}
.message__timestamp {
  font-size: 0.69em;
}
.message__userImage {
  max-width: 2.5rem;
}

.messages {
  padding: 0.5rem 1.5rem 0 1rem;
  background-color: #fffdff;
}

.userMenu {
  min-width: 140px;
  margin: 2rem;
  transition: opacity 150ms linear;
}
.userMenu__activeMenu {
  position: static;
  opacity: 1;
  margin-left: -20%;
  border-right: solid 2px #eeeef0;
}
.userMenu__heading {
  color: #a0a3a8;
}

.activeUsers {
  margin-left: 0px;
  padding: 0;
}
.activeUsers__heading {
  text-transform: uppercase;
  font-size: 0.78em;
  font-weight: 900;
}
.activeUsers__onlineIcon {
  padding-right: 4px;
  padding-bottom: 2px;
  display: inline;
}
.activeUsers__user {
  list-style: none;
  padding: 0.45rem 0;
}

/*# sourceMappingURL=style.css.map */
