@use '../base/colors';

.infoBar {
  position: sticky;
  top: 0;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px colors.$borderLightGray;
  padding-bottom: 0.72rem;
  background-color: colors.$infoBarBackground;

  &__userMenuToggle {
    font-size: 1.25em;
    color: colors.$bodyFont;
  }

  &__userMenuToggle:hover {
    color: colors.$purple;
  }

  &__title {
    font-size: 1.25em;
    color: colors.$headingFont;
  }
}