@use '../base/colors';


.inputBar {
  position: sticky;
  bottom: 0px;
  margin: 0 1rem;
  padding: 1rem 0;
  background-color: colors.$inputBarBackground;
  border-top: solid 1px colors.$borderLightGray;


  &__form {
    display: flex;
    min-height: 2.5rem;
  }

  &__input {
    flex: 1;
    width: 80%;
    border: solid 1px colors.$asideFont;
    border-radius: 100px;
    padding-left: 0.925rem;
  }

  &__input:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: dashed 3px colors.$lightPurple;
  }


  &__btn {
    text-transform: uppercase;
    text-decoration: none;
    background: colors.$purple;
    color: colors.$btnFont;
    padding: 5px;
    display: inline-block;
    border: none;
    border-radius: 100px;
    max-width: 86px;
    margin-left: 0.5rem;
    width: 20%;

    &:hover,
    &:active {
      background: colors.$lightPurple;
    }
  }

  &__btn:focus {
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: dashed 3px colors.$borderLightGray;
  }
}

.fa-paper-plane-o {
  transition: all 360ms ease-out;
}

.fa-paper-plane-o:hover,
.fa-paper-plane-o:active {
  transform: rotate(360deg)
}