@use '../base/colors';

.messages {
  height: 90%;
  overflow: auto;
  margin-bottom: 3rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  background-color: colors.$messagesBackground;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background: colors.$borderLightGray
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$lightPurple;
    border-radius: 40px;
  }
}