@use 'colors';

html {
  background-color: colors.$bodyBackground;
}

body {
  overflow: hidden;
  position: relative;
}

.d-none {
  position: absolute;
  opacity: 0;
}

.outerContainer {
  display: flex;
  flex-direction: row-reverse;
}