@use 'colors';

html {
  background-color: colors.$bodyBackground;
}

body {
  position: relative;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background: colors.$infoBarBackground;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$lightPurple;
    border-radius: 40px;
  }
}