$bodyBackground: #fffdff;
$bodyFont: #5a5d62;
$asideFont: #a0a3a8;
$headingFont: #474c50;
$screenBackground: #ffffff;
$messagesBackground: #fffdff;
$borderLightGray: #eeeef0;
$purple: #5e1eca;
$lightPurple: #8e55f0;
$alert: #ffe4be;
$notice: #e1eff2;
$btnFont: white;