@mixin for-tablet-portrait-up {
  @media (min-width: 925px) {
    @content;
  }
}

@include for-tablet-portrait-up {

  #menuClose,
  #menuOpen {
    display: none;
  }

  .col {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
  }

  .containerContainer {
    max-width: 100%;
  }

  .messages {
    overflow: auto;
  }

  .screen {
    // min-height: unset;
  }

  .inputBar {
    margin-top: 3rem;
    bottom: 0px;
    min-width: 66%;
  }

  .userMenu {
    position: sticky;
    overflow: auto;
    transition: all 105ms linear;
    min-width: 28%;
    max-width: 260px;
    height: 100vh;
    align-self: stretch;
    flex-grow: 1;
    padding: 1.5rem;
    border: solid 1px lightgrey;
    border-radius: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    z-index: 1;
  }
}