@mixin for-tablet-portrait-up {
  @media (min-width: 800px) {
    @content;
  }
}

@include for-tablet-portrait-up {

  .containerContainer {
    max-width: 70%;
  }

  .messages {}

  .screen {
    min-height: unset;
  }

  .inputBar {
    position: absolute;
    bottom: 0px;
    width: 70%;
  }

  .userMenu {
    position: fixed;
    top: 0;
    right: 0px;
    transition: all 105ms linear;
    min-width: 260px;
    height: 100%;
    padding: 1.5rem;
    border: solid 1px lightgrey;
    border-radius: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    z-index: 1;
  }
}